<!doctype html>
<html lang="en">

<head>
    <title>App Template</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ assets "app.css" }}">
</head>

<body>

    <navigation></navigation>
    <main class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="{{ assets "vendor.min.js" }}"></script>
    <script type="text/javascript" src="{{ assets "app.min.js" }}"></script>
</body>

</html>
